/*Esta página tiene un formato general. Body no debe tener margen y padding.

1.Body tendra color blanco. #FFFFFF

La etiqueta "header" tendra de fondo el color #00BCD4 y el texto sera #FFFFFF, el tamaño vertical del header es decisión tuya de como quede mejor, 
pon el logo de la empresa a la izquierda y los botones del encabezado a la derecha.
Los botones de "servicios" "trabajar con nosotros" "Contactanos" "Inicio" tienen el mismo color de header deben tener el tamaño adecuado para que
se vea bien con la imagen y que cuando el puntero este encima muestre un margen blanco. El encabezado debe tener margen o usar padding (el tamaño
de margen de ancho a tu elección). 
*/
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #00BCD4;
    color: #FFFFFF;

}
header a img{
    margin: 0 0 0 20vw;
}
header h1{
    margin: 0 10vw 0 0;
}
nav a{
    text-decoration: none;
    padding: 1em 20px;
    color: #FFFFFF;
    font-size: larger;
    font-weight: bold;
}
nav a:hover{
    border: #FFFFFF solid 2px;
    transition-duration: 0.3s;
}
/*
Hacer que el cuerpo de la página este centrado y no ocupe todo el ancho (los bloque section tenga un 60% de ancho de la página y esten
centrado de la pagina).
*/
section {
    margin: 5% 20%;
}

/*
2. Ajusta la imagen "ImagenIndex" para que se vea al 100% de ancho en la página principal. También ajusta la imagen "mano" para que sea circular.
El resto de imágenes y el video tendrán el 100% de ancho de la etiqueta bloque.
*/
#imagenindex{
    width: 100%;
    padding: 0;
    margin: 0;
}
div{
    display: flex;
    justify-content: center;
}

#mano{
    margin: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
iframe{
    width: 100%;
    height: 30em;
}
/*
3. Las tablas deben mostrar solo el borde de abajo menos la última fila, la primera fila y primera columna debe tener un color diferente al resto
de la primera columna "las suscripciones" deben estar alineado a la izquierda.
*/
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.ta{
    background-color: #0ed0ea;
}
.ti{
    background-color: #0ed0ea;
    text-align: left;
}
table td , table th{
    border-bottom: 1px solid black;
}
/*
4. Diseña el botón de encuesta del index y la encuesta. Las preguntas tendrán el tamaño de 20px y las respuestas 16px, y que las respuestas estén
alineada justificada y que cambie de color las casillas de texto cuando el puntero este encima.
*/
.encuesta{
    background-color: #0ed0ea;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 2vh 5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.encuesta:hover{
    background-color: #29828e;
    color: #FFFFFF;
    transition-duration: 0.3s;
}
#sec{
margin: 5% 32%;
}

form{
    display: grid;
}
#Edad{
    width: 10em;
}
.pregunta{
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}
.respuesta{
 width: 100%;
}
.botones{
    width: 5em;
}
.des{
    display: flex;
    justify-content: left;
}
#electrodomésticos{
width: 30%;
}
#enviar{
    padding: 1em 2em;
    background-color: #1f6972;
    color: white;
}
/*
5. En nuestra página solo usaremos arial, el tamaño de h1 es 40px, h2 es 30px y de párrafo es 18px y el alineado será justificado. El color de los
titulos sera #212121 y del texto de los parrafor sera #757575 
*/
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}
h1{
    color: #212121;
    font-size: 40px;
}
h2{
    color: #212121;
    font-size: 30px;
}
p{
    font-size: 18px;
    color: #757575 ;
    text-align: justify;
}
footer{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f6972;
    width: 100%;
    padding: 2vh;
}
footer p{
    color: white;
}
.d{
    text-decoration: none;
    color: white;
}